@charset "utf-8";

/* >>>>>>>>>>>>>>> Tablet >>>>>>>>>>>>>>> */
@media (max-width: 768px){
    :root {
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --normal-font-size: .938rem;
        --small-font-size: .75rem;
        --normal-font-size: 1.5rem;
        --big-font-size: 2rem;
    }
/* ---------- layout ---------- */
    .inner {
        padding: 2rem 1rem;
    }
/* ---------- intro ---------- */
    .intro__ment--box {
        top: 25%;
    }
    .intro__bg {
        display: none;
    }
    .intro__contents {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100vw;
        text-align: center;
        transform: translate(-50%, -50%);
    }
    .copyright {
        display: inline-block;
        font-size: var(--small-font-size);
        width: 300px;
        text-align: center;
    }
    /* ---------- header ---------- */
    .header {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #fff;
        box-shadow: 0 0 5px var(--gray-color);
        padding: 0 1rem;
        border: none;
        z-index: var(--z-fixed);
    }
    .header-inner {
        padding: 2rem 1rem;
    }
    #logo {
        padding-bottom: 0;
    }
    .nav__container {
        position: fixed;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        width: 100%;
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 0 5px rgba(0,0,0,.5);
        transition: .3s;
        border-radius: 1.5rem 1.5rem 0 0;
    }
    .nav__container.visible {
        transform: translateY(0);
        background: var(--white-color);
    }
    .nav__menu {
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .nav__item {
        width: 33.3333%;
        margin-right: 0;
        text-align: center;
        padding: 1rem;
        color: #000;
    }
    .nav__link {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav__icon {
        margin-left: 0;
        display: block;
    }
    #buttonLight {
        margin-right: 1rem;
    }
    #buttonDark {
        margin-right: 1rem;
    }
    .nav__close {
        display: block;
        position: absolute;
        right: 2rem;
        bottom: 2rem;
        font-size: 1.5rem;
        cursor: pointer;
    }
    #navToggle {
        display: block;
        cursor: pointer;
        font-size: 2rem;
    }
/* ---------- Home ---------- */
    .home__title {
        font-size: 2rem;
    }
    .home__subtitle {
        font-size: 1rem;
    }
    .home__intro {
        width: 90%;
    }
    .animation__line.left,
    .animation__line.right {
        width: 100%;
    }
    .animation__line.top,
    .animation__line.bottom {
        height: 100%;
    }
    .left {
        top: 0;
        right: 0;
    }
    .right {
        left: 0;
        bottom: 0;
    }
    .top {
        left: 0;
        bottom: 0;
    }
    .bottom {
        top: 0;
        right: 0;
    }
/* ---------- About ---------- */
    .about__frame {
        width: 90%;
    }
    .about .section__title {
        font-size: var(--normal-font-size);
    }
    .about__info--wrap {
        padding: .5rem;
    }
    .about__info--item .profile__img {
        width: 180px;
        height: 200px;
    }
    .about__info--item {
        margin-bottom: .5rem;
    }
    .info__title {
        margin-bottom: .3rem;
    }
/* ---------- skills  ---------- */
    .skills:before {
        bottom: 20%;
        right: 15px;
    }
    .content h1 {
        font-size: var(--small-font-size);
    }
    .skills .section__title:before {
        width: 320px;
        height: 15px;
    }
/* ---------- footer ---------- */
    .footer__logo {
        display: none;
    }
    .footer__copy {
        padding-bottom: 5rem;
    }
    .footer.inner {
       padding-top: 0;
    }
}
/* >>>>>>>>>>>>>>> Mobile >>>>>>>>>>>>>>> */
@media (max-width: 480px){
/* ---------- intro ---------- */
    .intro__ment--box {
        top: 25%;
        left: 50%;
    }
/* ---------- home  ---------- */
    .home__title {
        font-size: 1rem;
    }
    .home__subtitle {
        font-size: .6rem;
    }
    .home__intro {
        width: 95%;
    }
/* ---------- about  ---------- */
    .about__frame {
        width: 90%;
    }
    .about__info--item ul {
        font-size: .6rem;
    }
    .about__info--item .profile__img {
        width: 135px;
        height: 150px;
    }
/* ---------- skills  ---------- */
    .skills .section__subtitle {
        font-size: var(--small-font-size);
    }
    .skills:before {
        bottom: 0;
        right: 15px;
    }
/* ---------- Footer ---------- */
    .footer__copy {
        padding-bottom: 3rem;
    }
}
